<h1>Welcome @owner_name</h1>

<h2>Options:</h2>

<ul>
  <li>
    <p>
      <%= link_to 'View files', dropbox_list_path %>
    </p>
  </li>

  <li>
    <p>
      <%= link_to 'Upload file', dropbox_upload_path %>
    </p>
  </li>

  <li>
    <p>
      <%= link_to 'Download file', dropbox_download_path %>
    </p>
  </li>
</ul>
